<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TeacherAffairsBoard-Mapper">
	<sql id="search">
		<if test="searchType == 't'.toString()">
			and title like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'c'.toString()">
			and content like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'tc'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			content like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'cw'.toString()">
			and (
			writer like '%'||#{keyword}||'%'
			or
			content like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			writer like '%'||#{keyword}||'%'
			or
			content like '%'||#{keyword}||'%'						
			)			
		</if>
	</sql>
	
	<select id="selectSearchTeacherAffairsBoardList" resultType="TeacherAffairsBoard">
		select
		*
		from
		teacheraffairsboard
		where bno is not null  			  	
		<include refid="search" />
		order by bno desc
	</select>
	<select id="selectSearchTeacherAffairsBoardListCount"  resultType="int">
		select
		count(*)
		from
		teacheraffairsboard
		where bno is not null  			  	
		<include refid="search" />
		order by bno desc
	</select>
	
	<update id="insertTeacherAffairsBoard">
		insert 
		into 
		teacheraffairsboard(bno,title,writer,content)
		values
		(#{bno},#{title},#{writer},#{content})
	</update>
	<select id="selectTeacherAffairsBoardSeqNext" resultType="int">
		select teacheraffairsboard_seq.nextval as bno from dual
	</select>
	
	
	<select id="selectTeacherAffairsBoardByBno"  resultType="TeacherAffairsBoard">
		select * 
		from teacheraffairsboard 
		where bno=#{bno}
	</select>
	<update id="increaseViewCnt" parameterType="int">
		update 
		teacheraffairsboard 
		set 
		viewcnt=viewcnt+1 
		where bno=#{bno}
	</update>
	
	
	
	<update id="updateTeacherAffairsBoard" parameterType="TeacherAffairsBoard">
		update 
		teacheraffairsboard
		set 
		title=#{title}, content=#{content}, updatedate=sysdate 
		where bno=#{bno}
	</update>
	
	<update id="deleteTeacherAffairsBoard" parameterType="int">
		delete 
		from teacheraffairsboard 
		where bno=#{bno}
	</update>
	
</mapper>







